

/* <--------------------------------------------------------------------------------------------------------------->*/

#recipe1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    background: url('../../assets/images/recipe1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    gap: 2rem;
}

#recipe1 .filter
{
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: absolute;

}

#recipe1 .title-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
    width: 100%;
    /* gap: 1rem; */
    /* background-color: pink; */
   
}

#recipe1 .title-container h2
{
    font-size: 30px;
    background: linear-gradient(45deg, #ff442f, var(--c2));
    background-clip: text;
    color: transparent;
}

#recipe1 .title-container p
{
    font-size: 16px;
    color: var(--c6);
}


#recipe1 .search-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* background-color: yellow; */
    width: 45%;
    height: 40px;
}

#recipe1 .search-container input
{
    width: 80%;
    height: 100%;
    padding-left: 1rem;
    border: none;
    outline: none;
    font-size: 16px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

#recipe1 .search-container a
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    /* padding: 1rem 0; */
    background-color: var(--c2);
    cursor: pointer;
    color: var(--c3);
    font-size: 18px;
    gap: 0.5rem;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: 0.3s ease;
}

#recipe1 .search-container a:hover
{
    color: var(--c6);
}

#recipe1 .search-container a i
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
}
/* <--------------------------------------------------------------------------------------------------------------->*/


#recipe2
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 40vh;
    position: relative;
    user-select: none;
    position: relative;
}

#recipe2 h2
{
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 30px;
    background-color: var(--c6);
    color: var(--c3);
}

#recipe2 .category
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--c6);
    column-gap: 5rem;
    overflow-x: scroll;
    cursor: pointer;
    transition: 0.3s linear;
    padding: 1rem 5% 1rem;
}



#recipe2 .category::-webkit-scrollbar
{
    height: 7px;
}

#recipe2 .category::-webkit-scrollbar-thumb 
{
    background-color: var(--c2);
    border-radius: 100rem;
    cursor: pointer;
}

#recipe2 .category::-webkit-scrollbar-track 
{
    background: transparent;
}


#recipe2 .category .category-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    width: auto;
    flex-shrink: 0;
    cursor: pointer;
    transition: 0.3s linear;
    /* background-color: white; */
    /* border: 1px solid black; */ 
}

#recipe2 .category .category-container .content
{
    /* background-color: #ff6000; */
    width: 100%;
    text-align: center;
    font-weight: 400;
}


#recipe2 .category .img-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    overflow: hidden;
    border: 2px solid var(--c6);
    background-color: var(--c6);
    box-shadow: var(--bxshadow);
    
}

#recipe2 .category .img-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}






