@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');
@import 'catogories.css';
@import 'recipe_search.css';
@import 'recipeInfo.css';
@import 'recipes.css';
@import 'singleRecipeInfo.css';
@import 'about.css';
@import 'blog.css';
@import 'contact.css';

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    image-rendering: pixelated;
}

:root
{
    --c1: #151419;
    --c2: #f87313;
    /* --c2: #FF6F3C; */
    --c3: #1b1b1e;
    --c4: #262626;
    --c5: #878787;
    --c6: #fbfbfb;
    --bxshadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


body
{
    width: 100vw;
    height: 100vh; 
    position: relative;
    overflow-x: hidden;
    background-color: var(--c6);

}

body::-webkit-scrollbar
{
    width: 8px;
}

body::-webkit-scrollbar-thumb 
{
    background-color: var(--c2);
    border-radius: 100rem;
}

body::-webkit-scrollbar-track 
{
    background: var(--c1);
}



.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: var(--c1);
    position: relative;
    z-index: 100;
    top: 0;
}

.header .logo
{
    display: flex;
    color: var(--c6);
    /* background-color: blue; */
    cursor: pointer;
}

.header .logo h1
{
    font-size: 30px;
}

.header .content-header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem 5% 1rem;
}

.header .nav-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: pink; */
    height: 100%;
    width: auto;
}

.nav-container .header-nav
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: brown; */
}

.nav-container .header-nav a
{
    height: 100%;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 550;
    padding: 0.5rem 1rem 0.5rem;
    margin: 0 0.5rem 0 0;
    color: var(--c6);
    /* background-color: pink; */
}

.nav-container .header-nav a:hover,
.nav-container .header-nav a.active
{
    text-decoration: 1.5px overline;
}

.nav-container #login-btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c2);
    color: var(--c3);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1.5rem 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 16px;
    font-weight: 550;
    transition: 0.3s ease;
    text-decoration: none;
}

.nav-container #login-btn.active
{
    display: none;
}

.nav-container #login-btn:hover
{
    color: var(--c6);
}

.nav-container #user
{
    display: none;
    justify-content: center;
    align-items: center;
    color: var(--c2);
    border: none;
    border-radius: 5px;
    margin-left: 0.5rem;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
    transition: 0.3s ease;
    text-decoration: none;
}

.nav-container #user.active
{
    display: flex;
}

/* <--------------------------------------------------------------------------------------------------------------->*/

#home1
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* backdrop-filter: blur(10px); */
    margin-bottom: 10vh;
    position: relative;
    box-shadow: 0 0 3px 2px rgba(0, 0, 0, 0.5);
}


.home1-content {
    display: flex;                
    flex-direction: column;       
    align-items: flex-start;      
    justify-content: center;      
    width: 40%;                   
    margin: 0;                    
    padding: 20px;                
    position: absolute;   
    left: 3rem;       
    /* background-color: white;  */
}

.home1-content #title 
{
    margin-bottom: 1rem;       
    color: var(--c6);  
}

.home1-content #content 
{
    margin-bottom: 1rem;            
}

.home1-content #content p
{
    margin-bottom: 1rem;
    color: var(--c6);
    text-align: justify;
}

.home1-content a 
{
    text-decoration: none;
    color: var(--c3);
    background-color: var(--c2); 
    border: none;                  
    border-radius: 10px;   
    font-weight: 550;         
    padding: 1rem;            
    cursor: pointer;                
    transition: 0.3s ease; 
}

.home1-content a:hover 
{
    color: var(--c6); 
}



/* <--------------------------------------------------------------------------------------------------------------->*/

#home2
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    margin-bottom: 10vh;
    position: relative;
    /* background-color: aqua; */
    overflow-x: hidden;
    
}

#home2 .home2-content
{
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 54, 88, 0.534); */
}

.home2-content .home2-content-container
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 0;
    /* background-color: rgba(255, 192, 203, 0.63); */
    padding: 1rem 3% 1rem;
}


.home2-content-container .content-left
{
    width: 400px;
    height: 300px;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid var(--c6);
    box-shadow: var(--bxshadow);
}

.home2-content-container .content-left img
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}

/* .home2-content-container .content-left:hover img
{
    transform: scale(1.3);
} */

.home2-content-container .content-right
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    height: 50%;
}
.home2-content-container .content-right .small-right-content
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    /* background-color: palegreen; */
    width: 100%;
    height: 100%;
}

.content-right .small-right-content h2
{
    margin-bottom: 1.5rem;
    /* font-size: 30px; */
}
.content-right .small-right-content p
{
    margin-bottom: 1.5rem;
    font-size: 16px;
}
.content-right .small-right-content a
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 1rem;
    border-radius: 10px;
    font-weight: 550;
    font-size: 16px;
    text-decoration: none;
    color: var(--c3);
    background-color: var(--c2);
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: 0.3s ease;
}

.content-right .small-right-content a:hover
{
    color: var(--c6);
}

#home2 #left, #home2 #right
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 5vw;
    height: 100%;
    background-color: transparent;
    color: rgba(0,0,0,1);
    font-size: 30px;
    font-weight: bold;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s ease;
}

#home2 #left:hover, #home2 #right:hover
{
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--c6);
    user-select: none;
}

#home2 #left
{
    left: 0;
}
#home2 #right
{
    right: 0;
}


#home2 .dot-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    position: absolute;
    bottom: 0;
}
#home2 .dot-container .dot
{

    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--c5);
    margin: 0.5rem 0.5rem;
    transition: 0.3s ease;

}


/* <--------------------------------------------------------------------------------------------------------------->*/
#home3
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    /* font-size: 25px; */
    width: 100%;
    height: 100vh;
    margin-bottom: 10vh;
    position: relative;
    /* box-shadow: var(--bxshadow); */
    /* background-color: rgb(228, 228, 228); */
    
}

#home3 h2
{
    margin-bottom: 1rem;
}

#home3 .recipe-container
{
    width: 80vw;
    height: 80vh;
    /* border: 2px solid red; */
    display: flex;
    gap: 1rem;
}

.recipe-container .col-left
{
    flex: 2;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recipe-container .col-left .row
{
    flex: 1;
    /* border: 2px solid blue; */
    border-radius: 10px;
}

.recipe-container .col-left .row.row3
{
    border: 2px solid transparent;
    display: flex;
    gap: 1rem;
}

.recipe-container .col-left .row.row3 .row
{
    flex: 1;
    /* border: 2px solid blue; */
}

.recipe-container .col-right
{
    flex: 1;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.recipe-container .col-right .row
{
    flex: 1;
    /* border: 2px solid blue; */
    border-radius: 10px;

}


.recipe 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url('https://www.themealdb.com/images/media/meals/rwuyqx1511383174.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 1rem 3% 1rem;
    border-radius: 10px;
    border: 2px solid var(--c6);
    box-shadow: var(--bxshadow);
    
}

.recipe .recipe-filter
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    /* backdrop-filter: blur(10px); */
    padding: 1rem 3% 1rem;
    border: none;
    border-radius: 10px;
}

.recipe #recipe-title
{
    width: 100%;
    text-align: center;
    color: var(--c6);
    font-size: clamp(16px, 18px, 20px);
    font-weight: bold;
}
.recipe #recipe-info
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: var(--c6);
    text-align: justify;
    font-size: 16px;
}
.recipe #recipe-view
{
    font-size: 16px;
    padding: 0.8rem 1rem;
    color: var(--c3);
    background-color: var(--c2);
    border-radius: 8px;
    cursor: pointer;
    font-weight: 550;
    transition: 0.3s ease;
}

.recipe #recipe-view:hover
{
    color: var(--c6);
}

/* <--------------------------------------------------------------------------------------------------------------->*/

#home4
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    /* margin-bottom: 10vh; */
    position: relative;
    background-color: #c2c2c233;
    gap: 1rem;
    padding: 0.5rem 2%;
    color: var(--c3);
}

#home4 #title
{
    text-align: center;
    /* font-size: 35px; */
    font-weight: bold;
    width: 100%;
    /* background-color: antiquewhite; */
}

#home4 #description
{
    width: 100%;
    /* background-color: aliceblue; */
    text-align: center;
    font-size: 18px;
}

#home4 .tips-container
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* background: rgb(255, 122, 122);  */
    gap: 0.5rem;
}

#home4 .tips-info-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 300px;
    /* background-color: azure; */
    position: relative;
    gap: 1rem;
}

#home4 .tips-info-container #img-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid var(--c6);
    box-shadow: var(--bxshadow);

}

#home4 .tips-info-container #img-container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


#home4 .tips-info-container #text-container
{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    /* background-color: aquamarine; */
}

#home4 .tips-info-container #text-container h4
{
    width: 100%;
    /* font-size: 20px; */
    /* font-weight: bold; */
    text-align: center;
}


#home4 .tips-info-container #text-container p
{
    width: 100%;
    text-align: justify;
    font-size: 14px;
}


/* <--------------------------------------------------------------------------------------------------------------->*/
#home5
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 75vh;
    position: relative;
    background: url('../../assets/images/footer2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 2rem;
}

#home5-overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
}

#home5 .top
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #000000; */
    z-index: 10;
}

#home5 h2
{
    color: var(--c6);
    /* font-size: 40px; */
    /* font-weight: 600; */
}
#home5 p
{
    color: var(--c6);
    font-size: 16px;
}

#home5 .submit-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    /* background-color: #000000; */
    z-index: 10;
}

#home5 .submit-container input
{
    padding: 0.8rem 1rem;
    border: none;
    box-shadow: var(--bxshadow);
    border-radius: 100px;
    outline: none;
}


#home5 .submit-container input::placeholder
{
    color: var(--c5);
}

#home5 .submit-container a
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--c2);
    padding: 0.8rem 1rem;
    border-radius: 100px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

#home5 .submit-container a:hover
{
    color: var(--c6);
}

/* <--------------------------------------------------------------------------------------------------------------->*/
.footer
{
    width: 100%;
    height: 60vh;
    background-color: var(--c1);
    color: var(--c6);
}



.footer .top-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 1rem 5%;
    /* background-color: white; */
    position: relative;
}

.top-footer .filter
{
    background-color: transparent;
    width: 90%;
    height: 100%;
    position: absolute;
    border-bottom: 1px solid var(--c6);
    pointer-events: none;
}

.top-footer .top-logo-content
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 100%;
}
.top-footer .top-logo-content .container
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* background-color: palegreen; */
}

.top-footer .top-logo-content .container #logo
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #474744; */
    width: 100%;
    font-size: 30px;

}
.top-footer .top-logo-content .container p
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #474744; */
    width: 100%;
    font-size: 20px;

}

.top-footer .top-content
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    height: 100%;
    /* background-color: palegoldenrod; */
}

.top-footer .top-content .part
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: white; */
    height: 100%;
    width: 100%;
    /* border: 1px solid black; */
}

.top-footer .top-content .part h3
{
    /* background-color: pink; */
    width: 100%;
    text-align: center;
    font-size: clamp(14px, 16px, 18px);
    padding: 1rem 2% 1rem;
}

.top-footer .top-content .part .form p
{
    /* background-color: aquamarine; */
    width: 100%;
    text-align: center;
    font-size: clamp(14px, 16px, 18px);
    padding: 0 0 1rem 0;
}

.top-footer .top-content .part .form
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    gap: 0.5rem;
}

.top-footer .top-content .part .form input
{
    padding: 0.5rem 2%;
    border-radius: 6px;
    outline: none;
    background-color: transparent;
    border: none;
    color: var(--c6);
    box-shadow: 0 2px 0.5px 0.5px rgba(255, 255, 255, 0.301);

}

.top-footer .top-content .part .form input::placeholder
{
    color: var(--c5);
}

.top-footer .top-content .part .form a
{
    background-color: var(--c2); 
    color: var(--c3);   
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: 0.3s ease;
    box-shadow: var(--bxshadow);
}

.top-footer .top-content .part .form a:hover
{
    color: var(--c6);
}

.footer .bottom-footer
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    padding: 1rem 5%;
    /* background-color: rgba(255, 255, 255, 0.336); */
    position: relative;
    /* transform: translateY(-1rem); */
}

.footer .bottom-footer .part
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
    width: 100%;
}

.footer .bottom-footer .part .icon-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #000000; */
    width: 100%;
    padding: 1rem 2% 1rem;

}

.footer .bottom-footer .part .icon-container .icon
{
    display: flex;
    padding: 0.8rem;
    font-size: 18px;
    border: 1px solid var(--c6);
    border-radius: 50%;
    flex-shrink: 0;
    margin: 0 0.5rem;
    transition: 0.3s ease;
    text-decoration: none;
    color: var(--c6);
}

.footer .bottom-footer .part .icon-container .icon:hover
{
    background-color: var(--c6);
    color: var(--c3);

}










